h1 {
    color: #000000;
    font-family: "Times New Roman", sans-serif;
    border-bottom: 1px solid black;
    text-align: center;
}

body {
    background-color: #7ccbd2;
}

article {
    margin: 10px 5px;
}

img {
    max-width: 100%;
    height: auto;
}

div#headerSlogan {
    background: #62becd;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: fantasy;
    font-style: italic;
    width: 900px;
}

#home-page-body {
    display: flex;
    width: 100%;
}

.nav-list {
    display: flex;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.nav-link-active,
.nav-link {
    background: blue;
    color: white;
    text-decoration: none;
    border: 1px solid cadetblue;
    padding: 10px;
    margin: 0px;
    display: block;
    text-align: center;
}
.nav-item {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav-link-active,
.nav-link-active:hover{
    background:darkblue;
    text-decoration: none;
}

.nav-item:focus{
    outline: none;
}

.nav-link:hover,
.nav-link:focus
{
    background: #00b7ff;
    text-decoration: none;
}

.login-form {
    display: block;
}

.login-form {
    margin: 50px;
    align-content: flex-end;
    background: #62becd;
}


