h1 {
    color: #000000;
    font-family: "Times New Roman", sans-serif;
    border-bottom: 1px solid black;
    text-align: center;
}
body {
    background-color: #7ccbd2;
}
article{
    margin: 10px 5px;
}
div#headerSlogan{
    background: #62becd;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: fantasy;
    font-style: italic;
    width: 900px;
}

#home-page-body{
    display: flex;
    width: 100%;
}

nav {
display: flex;
    margin-top: 1px;
}
.nav-item,
.nav-item-active{
    padding: 0px;
    background: blue;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 1px solid cadetblue;
}
.nav-item-active {
    background:darkblue;
}

/*hover - наведение мышью, focus - с клавиатуры*/
.nav-item:hover,
.nav-item:focus,
.nav-item-logout:hover,
.nav-item-logout:focus
{
    background: #00b7ff;
    text-decoration: none;
}
.nav-item:focus{
    outline: none;
}
.nav-item-logout {
    width: 100%;
    background: blue;
    border: none;
    color: white;
}
.login-form {
    display: block;
}

.login-form {
    margin: 50px;
    align-content: flex-end;
    background: #62becd;
}


