<!DOCTYPE>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<script type="text/javascript">
    function send_product() {

        $.ajax({

                url: '/app/add1',
                dataType: 'json',
                type: 'POST',
                cache: false,
                contentType: 'application/json',
                data: JSON.stringify({
                    title: $("#title").val(),
                    price: $("#price").val(),
                }),
                success: function () {
                    alert("Получилось");
                }
            }
        );
    }
</script>
<body>

<div class="container">
    <h1>Обратная связь</h1>
    <form>
        <input type="text" id="title" name="title" placeholder="Title" class="form-control"><br>
        <input type="number" id="price" name="price" placeholder="Price" class="form-control"><br>
        <button type="button" onclick="send_product()" class="btn btn-success">Отправить</button>
    </form>
</div>
<div id="errorMess"></div>
<div id="test_prod">test prod</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">
    $("#test_prod").on("click", function () {
        $.get('/app/a1', function (data) {
            console.log(data);
            var table = "<table>" +
                "<tr><td>" + data.id + "</td><td>" + data.title + "</td><td>" + data.price + "</td></tr>" +
                "</table>"
            $("#test_prod").html(table);
        });
    });

    $("#sendMail").on("click", function () {

        var title = $("#title").val().trim();
        var price = $("#price").val().trim();

        if (title == "") {
            $("#errorMess").text("Введите title");
            return false;
        } else if (price == "") {
            $("#errorMess").text("Введите price");
            return false;
        }
        $("#errorMess").text("");

    });

</script>
</body>
</html>
