<!DOCTYPE>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--<script type="text/javascript" th:href="@{/js/main.js}"></script>-->

</head>
<script type="text/javascript">

 $(document).ready(function(){

 $.get('/a/get_product', function(data){

 console.log(data);
 let table = "<table>" +
 "<tr><td>"+ data.title+ "</td></tr>"+
 "</table>";
 $("#test_product").html(table);
})
});

</script>
<body>
<div id="test_product">

</div>

</body>
</html>
