<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>

<body>
<div class="container">
<h1>Shopping Cart</h1>
    <nav>
        <a class="nav-item" th:href="@{/index}">Home Page</a>
        <a class="nav-item" sec:authorize="isAnonymous()" th:href="@{/login}">Login</a></li>
        <a class="nav-item" sec:authorize="isAnonymous()" th:href="@{/registration}">Registration</a></li>
        <a class="nav-item" th:href="@{/shop}">Shop</a></li>
        <a class="nav-item-active" th:href="@{/cart}" sec:authorize="hasRole('USER')">Cart</a></li>
        <a class="nav-item" th:href="@{/users_control}" sec:authorize="hasRole('ADMIN')">Users Control</a>
        <form class="nav-item" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <input type="submit" class="nav-item-logout" value="Logout"/>
        </form>
    </nav>
<div class="container" sec:authorize="hasRole('USER')">

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <td>ID</td>
                <td>Title</td>
                <td></td>
                <td>Price</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="prod:${products}">
                <td th:text="${prod.numberOfProduct}"></td>
                <td th:text="${prod.title}"></td>
                <td></td>
                <td th:text="${prod.price}"></td>
                <td><a class="btn btn- danger" th:href="@{'/cart/remove/' + ${prod.numberOfProduct}}">delete</a></td>

            </tr>

            <tr>
                <td>Total:</td>
                <td></td>
                <td></td>
                <td th:text="${totalPrice}"></td>
                <td><a class="btn-info" th:href="@{/shop}">Go to shop</a></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>