<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <link th:href="@{/css/cart.css}" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <h1>Shopping Cart</h1>
    <nav>
        <ul class="nav-list">
            <li class="nav-item col"><a class="nav-link" th:href="@{/home}">Home Page</a></li>
            <li class="nav-item col" sec:authorize="isAnonymous()"><a class="nav-link" th:href="@{/sign}">Login</a></li>
            <li class="nav-item col" sec:authorize="isAnonymous()"><a class="nav-link"
                                                                      th:href="@{/reg}">Registration</a>
            </li>
            <li class="nav-item col"><a class="nav-link" th:href="@{/showcase}">Shop</a></li>
            <li class="nav-item col" sec:authorize="hasRole('USER')"><a class="nav-link-active" th:href="@{/my-basket}">Cart</a>
            </li>
            <li class="nav-item col" sec:authorize="hasRole('ADMIN')"><a class="nav-link" th:href="@{/users-control}">Users
                Control</a></li>
            <li class="nav-item col" sec:authorize="isAuthenticated()"><a class="nav-link" style="width: 100%"
                                                                          href="javascript:document.logoutForm.submit()">Logout</a>
                <form name="logoutForm" th:action="@{/logout}" method="post"
                      th:hidden="true">
                    <input type="submit" value="Logout"/>
                </form>
            </li>
        </ul>
    </nav>
    <div class="container" sec:authorize="hasRole('USER')">

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <td>#</td>
                <td>Title</td>
                <td></td>
                <td>Price</td>
            </tr>
            </thead>
            <tbody id="table_cart_products">
            <tr th:each="prod, iterator:${products}">
                <td th:text="${iterator.index + 1}"></td>
                <td th:text="${prod.title}"></td>
                <td></td>
                <td th:text="${prod.price}"></td>
                <td><a class="btn btn-danger" th:href="@{'/my-basket/remove/' + ${prod.id}}">delete</a></td>
            </tr>

            <tr>
                <td>Total:</td>
                <td></td>
                <td></td>
                <td th:text="${totalPrice}"></td>
                <td style="display: flex">
                    <a class="btn btn-info" th:href="@{/showcase}">Go to shop</a>
                    <form action="#">
                        <button data-confirm class="btn btn-buy btn-success">Buy Now!</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    const modalConfirm = document.querySelector('[data-confirm]'),
        message = {
            success: 'Спасибо! Скоро мы с вами свяжемся',
            dont_sent: 'Ошибка отправки, очередь обработки заказов не работает',
            confirm: 'хотите купить прямо сейчас?',
            not_connect: 'Нет соединения, проверьте сеть',
            buy_now: 'купить сейчас',
            failure: 'Что-то пошло не так...'
        };

    modalConfirm.addEventListener('click', (event) => {
        if (event.target === modalConfirm) {
            event.preventDefault();
            showDialog(message.confirm, message.buy_now);
        }
    });

    function showDialog(message, buttonTitle) {
        const modal = document.createElement('div');
        modal.classList.add('modal', 'show');
        modal.innerHTML = `
    <div class="modal__dialog">
        <div class="modal__content">
            <form action="#">
                <div data-close class="modal__close">&times;</div>
                <div class="modal__title">${message}</div>
                <button class="btn btn-success btn_buy_now">${buttonTitle}</button>
            </form>
        </div>
    </div>
        `;
        modal.querySelector('[data-close]').addEventListener('click', closeDialog);
        const form = modal.querySelector('form');
        const button = modal.querySelector('button');
        if (buttonTitle) {
            form.addEventListener('submit', (event) => {
                event.preventDefault();
                send();
            });
        } else {
            button.remove();
        }
        document.body.append(modal);
        document.body.style.overflow = 'hidden';
        console.log(modal);
    }

    function closeDialog() {
        const modal = document.querySelector('.modal');
        if (modal) {
            modal.remove();
            document.body.style.overflow = '';
        }
    }

    function send() {
        /*<![CDATA[*/
        let products = /*[[${products}]]*/ 'default';
        send_product_basket(products);
        /*]]>*/
    }

    function send_product_basket(products) {
        closeDialog();

        $.ajax({
            url: '/shop/my-basket/buy',
            dataType: 'json',
            type: 'POST',
            success: function () {
                showDialog(message.success);
                console.log('successful sent');
            },
            error: function (jqXHR) {
                if (jqXHR.status === 0) {
                    showDialog(message.not_connect);
                } else if (jqXHR.status === 405) {
                    showDialog(message.dont_sent);
                } else if (jqXHR.status === 200) {
                    this.success();
                } else {
                    showDialog(message.failure)
                }
            },
            contentType: 'application/json',
            data: JSON.stringify(products)
        });
    }
</script>
</body>
</html>