<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/checkin/form}" method="post">
    <input type="text" name="login" placeholder="login">
    <input type="text" name="password" placeholder="password">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="surname" placeholder="surname">
    <button type="submit" class="btn badge-success">Check In</button>
</form>
</body>
</html>