<!DOCTYPE html>
<!--подключаем NameSpace шаблонизатора Thymeleaf-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>

</head>

<body>
<h1>Details</h1>
<nav>
    <ul>
        <li class="selected"><a th:href="@{/index}">Home Page</a></li>
        <li><a th:href="@{/login}">Login</a></li>
        <li><a th:href="@{/registration}">Registration</a></li>
        <li><a th:href="@{/shop}">Shop</a></li>
        <li><a th:href="@{/cart}" sec:authorize="hasRole('USER')">Cart</a></li>
    </ul>
</nav>
<div class="container">
    <span th:text="${selectProduct.id + ' ' + selectProduct.title + ' ' + selectProduct.price}"></span>
</div>
</body>
</html>