<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>

</head>

<body>
<div class="container">
    <h1>Details</h1>
    <nav>
        <a class="nav-item col" th:href="@{/index}">Home Page</a>
        <a class="nav-item col" sec:authorize="isAnonymous()" th:href="@{/login}">Login</a></li>
        <a class="nav-item col" sec:authorize="isAnonymous()" th:href="@{/registration}">Registration</a></li>
        <a class="nav-item col" th:href="@{/shop}">Shop</a></li>
        <a class="nav-item col" th:href="@{/cart}" sec:authorize="hasRole('USER')">Cart</a></li>
        <a class="nav-item col" th:href="@{/users_control}" sec:authorize="hasRole('ADMIN')">Users Control</a>
        <form class="nav-item col" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <input type="submit" class="nav-item-logout" value="Logout"/>
        </form>
    </nav>
    <div class="container">
        <span th:text="${selectProduct.id + ' ' + selectProduct.title + ' ' + selectProduct.price}"></span>
    </div>
</div>
</body>
</html>