<!DOCTYPE html>
<!--подключаем NameSpace шаблонизатора Thymeleaf-->
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    description - описание страницы - эти строки появятся в поисковике без открытия страницы-->
    <meta name="description" content="Уроки HTML и Spring">
    <!--    keywords - ключевые слова - то на что будет дополнительно опираться поисковик-->
    <meta name="keywords" content="html, spring, Lessons">
    <link th:href="@{/css/index.css}" rel="stylesheet"/>


</head>
<body>
<div id="header">
    <img id="headerLogo" width="77"
         th:src="@{/images/horse.gif}" alt="horse">
    <div id="headerSlogan">
        <p> Далеко, далеко убежала в поле молодая лошадь...</p></div>
</div>
<nav>
    <ul>
        <li class="selected"><a th:href="@{/index}">Home Page</a></li>
        <li><a th:href="@{/login}">Login</a></li>
        <li><a th:href="@{/registration}">Registration</a></li>
        <li><a th:href="@{/shop}">Shop</a></li>
        <li><a th:href="@{/cart}">Cart</a></li>
    </ul>
</nav>
<div id="tableContainer"> <!--529-->
    <div id="tableRow">
        <div id="storeReviews">
            <h1>Отзывы клиентов</h1>
            <p>Пока сюда мы добавим пару анекдотов!</p>
            <article>Звонок в зоо магазин: — Здравствуйте, я недавно купил у вас морскую свинку и
                дома сразу пустил ее в аквариум с морской водой.
                Она немного поплавала и легла спать. — Так вот, когда она проснется, чем ее кормить?
            </article>

            <article>Пошли с мамой за продуктами в магазин. Кассирша начинает пробивать творог, останавливается,
                задумывается и начинает искать срок годности. Нашла, посмотрела и с чистой совестью положила творог нам
                в пакет. Мама: — Ну что, жить будем? Кассирша (с невозмутимо серьёзным лицом): — До двадцать четвёртого!
            </article>

        </div>
        <div id="main">
            <h1>О нашем магазине</h1>
            <p>Здесь в магазин можно добавить какие нибудь товары,
                уж не знаю что сюда добавить, но чтото добавать нужно. </p>
        </div>
        <div id="sidebar">
            <h1>Акции выходного дня</h1>
            <p>Одна подруга говорит другой:<br>
                — Мы сегодня с мужем отмечаем день примирения и согласия. <br>
                — Это как? — Идем в магазин — я примеряю, он соглашается!</p>
        </div>
    </div>
</div>
</body>
</html>