<!DOCTYPE html>
<!--подключаем NameSpace шаблонизатора Thymeleaf-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    description - описание страницы - эти строки появятся в поисковике без открытия страницы-->
    <meta name="description" content="Уроки HTML и Spring">
    <!--    keywords - ключевые слова - то на что будет дополнительно опираться поисковик-->
    <meta name="keywords" content="html, spring, Lessons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <script type="text/javascript" th:href="@{/js/JavaScript.js}"></script>
</head>
<body>
<div class="container">
    <header class="main-header">
        <div style="display: flex; align-items: center; background: #62becd;" class="header-logo">
            <img id="headerLogo" class="col-md-1" style="margin: 0px; padding: 0px"
                 th:src="@{/images/elephant.png}" alt="elephant" th:title="elephant">
            <div id="headerSlogan" class="col-md-11" style="margin: 0px; padding: 0px;">
                <span>Магазин весёлых слонов: Покупайте наших слонов!</span></div>
        </div>
        <nav>
            <ul class="nav-list">
                <li class="nav-item col"><a class="nav-link-active" th:href="@{/index}">Home Page</a></li>
                <li class="nav-item col" sec:authorize="isAnonymous()"><a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item col" sec:authorize="isAnonymous()"><a class="nav-link" th:href="@{/registration}">Registration</a>
                </li>
                <li class="nav-item col"><a class="nav-link" th:href="@{/shop}">Shop</a></li>
                <li class="nav-item col" sec:authorize="hasRole('USER')"><a class="nav-link" th:href="@{/cart}">Cart</a>
                </li>
                <li class="nav-item col" sec:authorize="hasRole('ADMIN')"><a class="nav-link"
                                                                             th:href="@{/users_control}">Users
                    Control</a></li>
                <li class="nav-item col" sec:authorize="isAuthenticated()"><a class="nav-link" style="width: 100%"
                                                                              href="javascript:document.logoutForm.submit()">Logout</a>
                    <form name="logoutForm" th:action="@{/logout}" method="post"
                          th:hidden="true">
                        <input type="submit" value="Logout"/>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <div id="home-page-body">
        <section class="col">
            <h2>Отзывы клиентов</h2>
            <p>Пока сюда мы добавим пару анекдотов!</p>
            <article>Звонок в зоо магазин: — Здравствуйте, я недавно купил у вас морскую свинку и
                дома сразу пустил ее в аквариум с морской водой.
                Она немного поплавала и легла спать. — Так вот, когда она проснется, чем ее кормить?
            </article>

            <article>Пошли с мамой за продуктами в магазин. Кассирша начинает пробивать творог, останавливается,
                задумывается и начинает искать срок годности. Нашла, посмотрела и с чистой совестью положила творог
                нам
                в пакет. Мама: — Ну что, жить будем? Кассирша (с невозмутимо серьёзным лицом): — До двадцать
                четвёртого!
            </article>

        </section>
        <section class="col">
            <h2>О нашем магазине</h2>
            <p>Здесь в магазин можно добавить какие нибудь товары,
                уж не знаю что сюда добавить, но чтото добавать нужно. </p>
        </section>
        <section class="col">
            <h2>Акции выходного дня</h2>
            <p>Одна подруга говорит другой:<br>
                — Мы сегодня с мужем отмечаем день примирения и согласия. <br>
                — Это как? — Идем в магазин — я примеряю, он соглашается!</p>
        </section>
    </div>
</div>
</body>
</html>