<!DOCTYPE html>
<!--подключаем NameSpace шаблонизатора Thymeleaf-->
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    description - описание страницы - эти строки появятся в поисковике без открытия страницы-->
    <meta name="description" content="Уроки HTML и Spring">
<!--    keywords - ключевые слова - то на что будет дополнительно опираться поисковик-->
    <meta name="keywords" content="html, spring, Lessons">
</head>
<body>
<h1> Home page</h1>
</body>
</html>