<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <title>Login Page</title>
    <meta charset="UTF-8">
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>
<h1>Логин</h1>
<form th:action="@{/authenticateTheUser}" method="POST">
    <p >
        <label for="user-login">Логин</label>
        <input id="user-login" type="text" name="username" placeholder="Login">
    </p>
    <p>
        <label for="user-password">Пароль</label>
        <input id="user-password" type="password" name="password" placeholder="Password" class="form-control">
    </p>
    <p>
        <label>
        <input type="checkbox" name="remember-me">
        </label>
    </p>
    <button type="submit">Come in</button>
</form>
</div>
</body>
</html>