<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <title>Login Page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Логин</h1>
    <nav>
        <th:block th:insert="~{block/navigation :: navigation('login')}"/>
    </nav>

    <form th:action="@{/authenticateTheUser}" method="POST" class="login-form col-md-4">
        <div style="display: flex; justify-content: space-between; align-items: center">
            <label for="user-login" class="col-md-2">Логин</label>
            <input class="form-control col-md-8"
                   id="user-login"
                   type="text"
                   name="username"
                   placeholder="Login"
                   th:value="${user?.login}"
                   title="user, admin or your login">
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center">
            <label for="user-password" class="col-md-2">Пароль</label>
            <input style="display: block" id="user-password"
                   type="password"
                   name="password"
                   placeholder="Password"
                   th:value="${user?.password}"
                   class="form-control col-md-8" title="user, admin or your password">
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center">
            <label>
                <input type="checkbox" name="remember-me" checked>
                remember me
            </label>
            <button class="btn btn-primary" type="submit">Come in</button>
        </div>
    </form>
</div>
</body>
</html>