<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring/security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <form class="ui-icon-circle-zoomin" id="create-form" th:action="@{/registration/form}" th:object="${user}" th:method="post"
          accept-charset="UTF-8">
        <h1> Registration </h1>
        <nav>
            <ul>
                <li><a th:href="@{/index}">Home Page</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                <li class="selected"><a th:href="@{/registration}">Registration</a></li>
                <li><a th:href="@{/shop}">Shop</a></li>
                <li><a th:href="@{/cart}" sec:authorize="hasRole('USER')">Cart</a></li>
                <li><a th:href="@{/users_control}" sec:authorize="hasRole('ADMIN')">Users Control</a></li>
            </ul>
        </nav>
        <div class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Login</label>
            <div class="col-sm-10">
                <input type="text" name="username" class="form-control" id="inputEmail3" th:value="${user.username}" placeholder="username">
            </div>
        </div>
        <div class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="text" name="password" class="form-control" id="inputPassword3" th:value="${user.password}" placeholder="password">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Check In</button>
    </form>
</div>
</body>
</html>