<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">

    <form id="create-form" th:action="@{/registration/form}" th:object="${user}" th:method="post"
          accept-charset="UTF-8">
        <h1> Registration </h1>
        <nav>
            <ul>
                <li><a th:href="@{/index}">Home Page</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                <li class="selected"><a th:href="@{/registration}">Registration</a></li>
                <li><a th:href="@{/shop}">Shop</a></li>
                <li><a th:href="@{/cart}">Cart</a></li>
            </ul>
        </nav>
        <div>
            <label>Login</label>
            <input type="text" name="username" th:value="${user.username}" placeholder="username">
        </div>
        <div>
            <label>password</label>
            <input type="text" name="password" th:value="${user.password}" placeholder="password">
        </div>
        <button type="submit">Check In</button>
    </form>
</div>
</body>
</html>