<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <script src="js/reg.js"></script>
</head>
<body>
<div class="container">
    <form class="ui-icon-circle-zoomin" id="create-form" th:action="@{/registration/form}" th:object="${user}" th:method="post"
          accept-charset="UTF-8">
        <h1> Registration </h1>
        <nav>
            <ul class="nav-list">
                <li class="nav-item col"><a class="nav-link" th:href="@{/index}">Home Page</a></li>
                <li class="nav-item col" sec:authorize="isAnonymous()"><a class="nav-link" th:href="@{/login}">Login</a></li>
                <li class="nav-item col" sec:authorize="isAnonymous()"><a class="nav-link-active" th:href="@{/registration}">Registration</a>
                </li>
                <li class="nav-item col"><a class="nav-link" th:href="@{/shop}">Shop</a></li>
                <li class="nav-item col" sec:authorize="hasRole('USER')"><a class="nav-link" th:href="@{/cart}">Cart</a></li>
                <li class="nav-item col" sec:authorize="hasRole('ADMIN')"><a class="nav-link" th:href="@{/users_control}">Users
                    Control</a></li>
                <li class="nav-item col" sec:authorize="isAuthenticated()"><a class="nav-link" style="width: 100%" href="javascript:document.logoutForm.submit()">Logout</a>
                    <form name="logoutForm" th:action="@{/logout}" method="post"
                          th:hidden="true">
                        <input type="submit" value="Logout"/>
                    </form>
                </li>
            </ul>
        </nav>
        <div class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
            <label for="name" class="col-sm-2 col-form-label">Login</label>
            <div class="col-sm-10">
                <input type="text" name="username" class="form-control" id="name" th:value="${user.username}"
                       placeholder="username">
            </div>
        </div>
        <div class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
            <label for="name" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="password" th:value="${user.password}"
                       placeholder="password">
                <input type="password" name="confirmPassword" class="form-control" id="confirmPassword"
                       th:value="${user.password}" placeholder="confirm password">
            </div>
            <div id="messageShow"></div>
        </div>
        <div th:text="${errorDescribtion}" class="col-sm-6 controls"></div>
        <button class="btn btn-primary" type="submit" id="btnChekIn" style="margin-left: 30px; margin-top: 20px">Check In</button>
    </form>
</div>
</body>
</html>