<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <script src="js/reg.js"></script>
</head>
<body>
<div class="container">
    <h1> Registration </h1>
    <nav>
        <th:block th:insert="~{block/navigation :: navigation('registration')}"/>
    </nav>
    <form class="ui-icon-circle-zoomin"
          id="create-form"
          th:object="${user}"
          th:action="@{/reg/form}"
          th:method="post"
          accept-charset="UTF-8">
        <div class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
            <label for="name" class="col-sm-2 col-form-label">Login</label>
            <div class="col-sm-10">
                <input type="text"
                       name="login"
                       class="form-control"
                       id="name"
                       th:value="${user.login}"
                       placeholder="username">
            </div>
        </div>
        <div class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
            <label for="name" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password"
                       name="password"
                       class="form-control"
                       id="password"
                       th:value="${user.password}"
                       placeholder="password">

                <input type="password"
                       name="confirmPassword"
                       class="form-control"
                       id="confirmPassword"
                       th:value="${user.confirmPassword}"
                       placeholder="confirm password">
            </div>
            <div id="messageShow"></div>
        </div>
        <div th:text="${errorDescribtion}" class="col-sm-6 controls"></div>
        <button class="btn btn-primary" type="submit" id="btnChekIn" style="margin-left: 30px; margin-top: 20px">Check
            In
        </button>
    </form>
</div>
</body>
</html>