<!DOCTYPE html>
<!--подключаем NameSpace шаблонизатора Thymeleaf-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div>
        <h1>Shop</h1>
        <nav>
            <ul class="nav-list">
                <li class="nav-item col"><a class="nav-link" th:href="@{/home}">Home Page</a></li>
                <li class="nav-item col" sec:authorize="isAnonymous()"><a class="nav-link" th:href="@{/sign}">Login</a></li>
                <li class="nav-item col" sec:authorize="isAnonymous()"><a class="nav-link" th:href="@{/registration}">Registration</a>
                </li>
                <li class="nav-item col"><a class="nav-link-active" th:href="@{/shop}">Shop</a></li>
                <li class="nav-item col" sec:authorize="hasRole('USER')"><a class="nav-link" th:href="@{/cart}">Cart</a></li>
                <li class="nav-item col" sec:authorize="hasRole('ADMIN')"><a class="nav-link" th:href="@{/users-control}">Users
                    Control</a></li>
                <li class="nav-item col" sec:authorize="isAuthenticated()"><a class="nav-link" style="width: 100%" href="javascript:document.logoutForm.submit()">Logout</a>
                    <form name="logoutForm" th:action="@{/logout}" method="post"
                          th:hidden="true">
                        <input type="submit" value="Logout"/>
                    </form>
                </li>
            </ul>
        </nav>
        <span th:if="${products.size()==0}">Products List is empty</span>
        <table th:if="${products.size()>0}" class="table">
            <thead class="thead-dark">
            <tr>
                <td>ID</td>
                <td>Title</td>
                <td>Price</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="products:${products}">
                <td th:text="${products.id}"></td>
                <td th:text="${products.title}"></td>
                <td th:text="${products.price}"></td>
                <td sec:authorize="hasRole('ADMIN')"><a class="btn-group-lg" th:href="@{'/details/' + ${products.id}}">Details</a>
                </td>
                <td sec:authorize="hasRole('USER')"><a class="btn btn-success"
                                                       th:href="@{'/cart/add/' + ${products.id}}">Add to cart</a></td>
                <td sec:authorize="hasRole('ADMIN')"><a class="btn btn-danger"
                                                        th:href="@{'/products/delete/' + ${products.id}}">Delete</a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a class="btn-info" th:href="@{/cart}">Go to shopping cart</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <form th:action="@{/shop}" method="get" class="form-horizontal">
        <div style="..." class="input-group">
            <span class="input-group-append"><i class="list-group-horizontal"></i></span>
            <input th:value="${word != null ? word : ''}" name="word" placeholder="Отфильтровать по названию продукта"
                   class="form-control"/>
        </div>
        <div style="..." class="input-group">
            <span class="input-group-append"><i class="list-group-horizontal"></i></span>
            <input th:value="${minPrice != null ? minPrice : ''}" name="minPrice" placeholder="цена от"
                   class="form-control"/>
        </div>
        <div style="..." class="input-group">
            <span class="input-group-append"><i class="list-group-horizontal"></i></span>
            <input th:value="${maxPrice != null ? maxPrice : ''}" name="maxPrice" placeholder="цена до"
                   class="form-control"/>
        </div>
        <div style="..." class="form-group">
            <div class="col-sm-5 form-control-sm">
                <button type="submit" class="btn btn-primary">Фильтровать</button>
            </div>
        </div>
    </form>
    <div sec:authorize="hasRole('ADMIN')">
        <table th:class="table">
            <thead class="thead-dark">
            <tr></tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <form method="post" th:action="@{/products/add}">
                        <input type="text" name="addProduct" placeholder="Title">
                        <input type="number" name="addPrice" placeholder="Price">
                        <button type="submit">add product</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <table th:class="table">
            <thead class="thead-dark">
            <tr></tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <form method="post" th:action="@{/products/update}">
                        <input type="text" name="idUpdate" placeholder="id">
                        <input type="text" name="updateTitle" placeholder="Title">
                        <input type="text" name="updatePrice" placeholder="Price">
                        <button type="submit">update</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>