<!DOCTYPE html>
<!--подключаем NameSpace шаблонизатора Thymeleaf-->
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


</head>

<body>
<div class="container">
    <h1>Shop</h1>
    <!--
        <span th:if="${products.size()==0}">Products List is empty</span>  &lt;!&ndash;"&ndash;&gt;&ndash;&gt;
    -->
    <table th:class="table"> <!--классы взяты из bootstrap  -->
        <thead class="thead-dark"> <!--шапка таблицы-->
        <tr>  <!--единственная строка шапки таблицы tr -table row-->
            <td>ID</td>
            <td>Title</td>
            <td>Price</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="products:${products}"> <!--thymeleaf позволяет пользоваться циклами в том числе for each....-->
            <td th:text="${products.id}"></td>
            <!--нюанс синтаксиса, на самом деле thymeleaf c помощью точки обращается не к полям а к геттерам. Т.е. если геттера не будет то достать переменную id будет нельзя.-->
            <td th:text="${products.title}"></td>
            <td th:text="${products.price}"></td>
            <td><a class="btn btn-danger" th:href="@{'/details/' + ${products.id}}">Details</a></td>
            <td><a class="btn btn- danger" th:href="@{'/products/delete/' + ${products.id}}">Delete</a></td>

        </tr>
        </tbody>
    </table>
</div>
<!--Таблица для добавления в продуктов в базу данных должна быть доступна только для администратора-->
<div class="container">
    <table th:class="table">
        <thead class="thead-dark">
        <tr></tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <form method="post" th:action="@{/products/add}">
                    <input type="text" name="addProduct" placeholder="Title">
                    <input type="number" name="addPrice" placeholder="Price">
                    <button type="submit">add</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--Таблица для изменения продуктов по ID-->
<div class="container">
    <table th:class="table">
        <thead class="thead-dark">
        <tr></tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <form method="post" th:action="@{/products/update}">
                    <input type="text" name="idUpdate" placeholder="id">
                    <input type="text" name="updateTitle" placeholder="Title">
                    <input type="text" name="updatePrice" placeholder="Price">
                    <button type="submit">update</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>