<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <script src="js/users_control.js" ></script>
</head>
<body>
<div class="container">
    <h1>Shop</h1>
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a th:href="@{/index}">Home Page</a></li>
            <li class="nav-item" sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
            <li class="nav-item"><a th:href="@{/registration}">Registration</a></li>
            <li class="nav-item"><a th:href="@{/shop}">Shop</a></li>
            <li class="nav-item"><a th:href="@{/cart}" sec:authorize="hasRole('USER')">Cart</a></li>
            <li class="nav-item"><a class="nav-link active" th:href="@{/users_control}" sec:authorize="hasRole('ADMIN')">Users Control</a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="btn-danger" value="Logout"/>
                </form>
            </li>
        </ul>
    </nav>
    <div id="add_table">
        Тут должна быть таблица
    </div>
    <form>
        <input type="text" id="user_status" placeholder="Статус"/> <br/>
        <input type="text" id="user_name" placeholder="Логин"/> <br/>
        <input type="text" id="user_password" placeholder="Пароль"/> <br/>
        <input type="button" onclick="send_user()" value="Сохранить"/> <br/>
    </form>
</div>

</body>
</html>
