<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<style>
    td {
        padding: 10px;
    }

</style>
<script type="text/javascript">
    function showUsers() {
        alert("showUsers")
        $.get('/shop/user', function (data) {
            alert("таблицу в студию")
            console.log(data);

            let table = "<table border='1'><tr><th>ИД</th><th>Cтатус</th><th>Логин</th><th>Пароль</th><th>Роли</th></tr>";

            for (var i = 0; i < data.length; i++) {
                let set = data[i].role;
                table = table + "<tr><td>" + data[i].id + "</td><td>" + data[i].enabled + "</td><td>" + data[i].username + "</td><td>" + data[i].password + "</td><td>" + data[i].role + "</td></tr>";
            }
    //        for (let value of set) alert(value);
            table = table + "</table>";

            $("#test_user").html(table);

        });
    }

    $(document).ready(function () {
        showUsers();
    });

    function send_user() {
        $.ajax({
            url: '/shop/add_user',
            dataType: 'json',

            type: 'POST',
            cache: false,
            contentType: 'application/json',


            data: JSON.stringify({
                enabled: $("#user_status").val(),
                username: $("#user_name").val(),
                password: $("#user_password").val()
            }),
            /*            error: function (xhr, status) {
                            alert(status);
                        },*/
            success: function () {
                showUsers();
            }

        })
    }
</script>
<body>
<div id="test_user">
    привет!!
</div>
<form>
    <input type="text" id="user_status" placeholder="Статус"/> <br/>
    <input type="text" id="user_name" placeholder="Логин"/> <br/>
    <input type="text" id="user_password" placeholder="Пароль"/> <br/>
    <input type="button" onclick="send_user()" value="Сохранить"/> <br/>
</form>
</body>
</html>
