<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <script src="js/users_control.js"></script>
</head>
<body>
<div class="container">
    <h1>Shop</h1>
    <nav>
        <th:block th:insert="~{block/navigation :: navigation('users')}"/>
    </nav>
    <div id="add_table">
        Тут должна быть таблица
    </div>
    <form>
        <div style="display: flex; justify-content: space-between; width: 100px" >
            <input type="checkbox" value="true" checked name="enabled" id="user_status"/> <br/>
            <label for="user_status">User active</label>
        </div>
        <input type="text" name="login" id="user_name" placeholder="Логин"/> <br/>
        <input type="text" name="password" id="user_password" placeholder="Пароль"/> <br/>
        <input type="button" onclick="send_user()" value="Сохранить"/> <br/>
    </form>
</div>

</body>
</html>
